    .block {
        width: auto;
        padding: 5px;
        display: inline-block;
        border: solid 1px black;
        text-align: center;
        margin: 0 auto;
    }
    .menu {
        align-self: center;
        margin: auto;
    }